head:after {
content="<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KRFBJF8');</script>"
}

body {
    margin: 0;
    font-family: 'Lora', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

body:after {
content="<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRFBJF8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>"
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.markdown-body h1 {font-size: 34px;}
.markdown-body h2 {font-size: 30px;}
.markdown-body h3 {font-size: 28px;}
a {color: #333;}
a:hover {text-decoration: none;}

.container-lg {
    max-width: none;
    margin-right: unset !important;
    margin-left: unset !important;
}
.px-3 {
    padding-right: unset !important;
    padding-left: unset !important;
}
.markdown-body h1 {
    max-width: 1280px;
    margin: 0 auto;
    border-bottom: none;
}
.anchorjs-link {
    display: none;
}
