/* header */
.header {
    padding: 20px 0;
    background: #EAEAEA;
}
.menu {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
}
.empty {
    width: 100%;
}
.email {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    transition: all .3s ease 0s;
}
.email:hover {
    color: #FCB152;
    transition: all .3s ease 0s;
}
.soc {
    float: right;
    display: flex;
}
.soc a {
    margin: 0 10px;
}
.soc a:hover {
    transition: all .3s ease 0s;
}
.fb {
    display: block;
    width: 32px;
    height: 32px;
    background: url(icons/ic.png) -4px -7px no-repeat;
}
.fb:hover {
    transition: all .3s ease 0s;
}
.ins {
    display: block;
    width: 32px;
    height: 32px;
    background: url(icons/ic.png) -85px -8px no-repeat;
}


.content {
    max-width: 1280px;
    margin: 0 auto;
}
.banner-text {
    display: flex;
}
.banner-text img {
    margin: 45px 60px 0 0;
    width: 600px;
}
.about-book {
    margin-top: 15px;
}
.button-order {
    float: right;
    padding: 15px;
    margin: 50px 0;
    background: cornflowerblue;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all .3s ease 0s;
}
.button-order:hover {
    color: #FCB152;
    transition: all .3s ease 0s;
}
.button-order a {
    color: #fff;
}
